.feature{
    width: 100%;
    height: 90vh;
    background-image: url(./../assets/feature-bg.jpg);
    background-size: cover;
    background-position: -120px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.headlineFeature {
    width: 80%;
    display: flex;
    justify-content: space-between;
}
.textPresentation h1{
    font-size: 40px;

}
.textPresentation h1 span{
    color: var(--red);
    font-size: 40px;
}
.textPresentation{
    width: 80%;
}
.btnFeauture{
    width: 20%;
    width: 500px;
    display: flex;
    justify-content: flex-end;
}
.btnservice{
    height: 70px !important;
    width: 250px!important;
    justify-content: space-between!important;
}
.ItemService{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

