.w-100C{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    background-image: url(./../assets/service-bg.png);
    background-size: 120%;
    background-position: -200px 0;;
}
.w-80C{
    width: 80%;
}

  .tech-consulting{
    display: flex;
  }
  .tech-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
  
  .tech-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  
  .rectangle {
    width: 300px;
    height: 200px; /* Hauteur maximale */
    background-color: #ff5733;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

  .tech-card {
    /* clip-path: polygon(100% 0%, 100% 100%, 50% 100%, 0% 100%); */
    background: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease-in-out;
  }

  .u1{
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);  }
.u2{
    clip-path: polygon(0% 0%, 100% 10%, 100% 100%, 0% 100%);
  }

  
  .tech-icon {
    background-image: url(./../assets/process.png);
    background-size: cover;
    background-position: center;
    color: white;
    font-size: 18px;
    font-weight: bold;
    width: 55px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .tech-icon h3 {
    font-size: 18px;
  }
  
  .tech-highlight {
    color: var(--red);
    font-weight: bold;
  }
  
  .tech-content {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color:  #fff;
  }
  
  .tech-content h2 {
    font-size: 28px;
    font-weight: bold;
  }
  
  .tech-bold {
    font-weight: bold;
  }
  
  .tech-description {
    margin: 10px 0;
  }
  
  .tech-btn {
    background: var(--red);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  
  .tech-plus {
    font-size: 20px;
    margin-left: 5px;
  }
  