
.w-100{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(./../assets/ceo-bg.png);
    background-position: -200px 0;
    background-size: cover;
    flex-direction: column;
}
.w-80{
    width: 80%;

}


.carousel-container {
    margin-top: 20px;
  }
  
  .card {
    background: #1a1a2e;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    padding: 15px;
  }
  
  .card-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 15px;
  }
  
  .date, .category {
    font-size: 12px;
    color: #a1a1a1;
  }
  
  .title {
    font-size: 18px;
    font-weight: bold;
  }
  
  .description {
    font-size: 14px;
    margin: 10px 0;
  }
  
  .read-more {
    background: #3b82f6;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 5px;
  }
  