.containerNav{
   position: absolute;
   top: 0;
   color: #ffffff;
   font-weight: 400;
   width: 100%;
   height: 80px;
   display: flex;
   justify-content: center;
   background-color: var(--red);
}
.content{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content ul{
    display: flex;
    list-style: none;
    font-size: 20px;
    gap: 30px;
    display: flex;
    align-items: center;
}
.active{
    line-height: 30px;
    border-bottom: 3px solid #fff;
}

.logo{
    width: 70px;
}