.testimonial-section {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./../assets//skill-bg.png);
    background-size: 150%;
    background-position: -200px 0;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    height: 100vh;
  }
  .sectionContent{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

  }
  
  .testimonial-content {
    flex: 1;
    max-width: 50%;
  }
  
  .testimonial-content h2 {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
  .highlight {
    color: var(--red);
  }
  
  .testimonial-quote {
    font-style: italic;
    font-size: 18px;
    color: #ffffff;
    margin-top: 10px;
  }
  
  .testimonial-description {
    font-size: 18px;
    color: #ffffff;
    margin: 20px 0;
    line-height: 1.6;
  }
  
  .ceo-info {
    font-weight: bold;
    color: #222;
    margin-bottom: 20px;
  }
  
  .ceo-name {
    color: var(--red);
    font-size: 25px;
    font-weight: 500;
  }
  
  .ceo-title {
    display: block;
    font-size: 20px;
    color: #ffffff;
  }
  

  
  .testimonial-image {
    flex: 1;
    position: relative;
    text-align: end;

  }
  
  .testimonial-image img {
    width: 500px;
    height: 500px;
    border-radius: 50%;
  }
  
  .quote-icon {
    position: absolute;
    bottom: 20px;
    left: 20px;
    
  }
  .quote-icon img {
   width: 300px;
   height: 300px;   
  }